 {% extends 'base.html' %}
  {% load static %}
  {% block content %}


  <div id="news" class="section wf-section scope-header">
    <div class="w-container">
        <div class="section-div">
    
            <div class="collection-list-wrapper-5 w-dyn-list">
                <div role="list" class="collection-list-6 w-dyn-items">

                    {% for product in  products %}
                    <div data-w-id="3da58f03-fdd8-3628-a5d2-ef6d4fe7bc7e" style="opacity:0; margin-bottom:10px;" role="listitem" class="collection-item-2 _3 w-dyn-item">
                        <div class="grey-div">
                            <div data-w-id="22e1163c-45b4-b1b5-fe81-7e30a284207b" style="background-image:url({{product.image.url}});opacity:0" class="div-block-12">
                                <div data-w-id="2d441236-0d1c-255c-10c5-af4e1e5a25b3" style="opacity:0" class="location-div">
                                    <div class="location-test home">{{product.name}}</div>
                                </div>
                            </div>
                            <div class="service-div line news">
                                <h3 class="heading-7">{{product.name}}</h3>
                                {% comment %} <p data-w-id="d4a9fea8-e767-b6eb-0060-bd09afebcd3f" style="opacity:0" class="news-para">{{project.details|safe|truncatechars:200}}.</p> {% endcomment %}
                                <a href="{{product.product_url}}" class="project-button w-button">View project →</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


             

                </div>
            </div>
        </div>
    </div>
</div>







{% endblock %}