{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="about2" class="section wf-section scope-header">
        <div class="w-container">
            <div class="section-div">
                <div class="columns w-row">
                    <div class="column-2 w-col w-col-5">
                        <h2 class="heading-2">Who we&#x27;re for</h2>
                    </div>
                    <div class="column w-col w-col-7">
                        <p class="paragraph">We complement architects, developers, project<strong class="bold-intro-text"> </strong>managers, main contractors, facade contractors<strong class="bold-intro-text"> </strong>and private houses– providing them with expert technical input.</p>
                    </div>
                </div>
                <div Title="photo of jumeirah gate" class="full-image-div _2"></div>
            </div>
            <div class="caption"><br/></div>
            <p class="paragraph-70"><strong class="bold-text-3">We understand that every project and every client is different. <br/></strong>In every Facade designing project the team demonstrates a complete understanding of the project requirements by utilizing the latest available products and meeting all required technical specifications. We ensure that all materials specified meet the economic, technical and visual parameters and translate the Architect&#x27;s vision into optimized facade designs that the client can both appreciate and afford.</p>
        </div>
    </div>


{% endblock %}