
{% load static %}
{% block content %}


<div class="section-2 black wf-section">
    <div data-w-id="5f8cce61-355d-3df0-7b09-9210c6eafdf2" class="container-6 w-container">
        <img src="{% static 'images/logo.jpeg' %}" width="143" alt="Building Envelope Systems Dubai official logo" class="image-4"/>
        <a href="#about1" class="clear-button footer w-button"><span class="learn-span footer">About</span></a>
        <a href="#consultancy" data-w-id="5f8cce61-355d-3df0-7b09-9210c6eafdf7" class="clear-button footer w-button"><span class="learn-span footer">Services</span></a>
        <a href="minimal-sliding-windows-doors.html" data-w-id="bc9623b2-667e-2a00-2b1f-7d2225e67b35" class="clear-button footer w-button"><span class="learn-span footer">Products</span></a>
        <a href="#projects" class="clear-button footer w-button"><span class="learn-span footer">Projects</span></a>
        <a href="#news" data-w-id="5f8cce61-355d-3df0-7b09-9210c6eafdfd" class="clear-button footer w-button"><span class="learn-span footer">News</span></a>
        <a href="#contact" data-w-id="5f8cce61-355d-3df0-7b09-9210c6eafe00" class="clear-button footer w-button"><span class="learn-span footer">Contact</span></a>
        <div class="text-block-3 footer">Dtech Corp.Ltd © 2022</div>
    </div>
</div>
<div class="section-2 wf-section">
    <div data-w-id="4248e981-1622-707a-a0a7-f7075b29fc57" class="container-6 w-container">
        <a href="https://www.dhakasolution.com/" target="_blank" class="link-block-2 w-inline-block">
            <div class="text-block-3 tmac">Website created by</div>
            <!-- <div class="tmac-logo-div"></div> -->
            <div class="text-block-3 tmac">Dhaka Solution</div>
        </a>
    </div>
</div>


{% endblock %}