
{% load static %}
{% block content %}


<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="nav-bar-projects black w-nav">
    <div class="container-2 w-container">
        <a href="{% url 'homeapp:homepage' %}" aria-current="page" class="brand-2 w-nav-brand w--current">
            <img src="{% static 'images/logo.jpeg' %}" style="height: 80px; width: 300px;"  alt="Building Envelope Systems Dubai official logo" class="image-2"/></a>
        <nav role="navigation" class="nav-menu w-nav-menu">
            <div style="margin-right:30px;">
              <a class="">
                <i style="color:#1877F2;font-size:25px;padding:6px;height:30px;width:30px;margin-right:6px; margin-left:6px;"  class="fa-brands fa-facebook"></i>
              </a> 
              <a class="">
                <i style="color:#E4405F;font-size:25px;padding:6px;height:30px;width:30px;margin-right:6px; margin-left:6px;" class="fa-brands fa-instagram"></i>
              </a>
              <a class="" href="https://wa.me/+01982600163?text=Wellcome to live whatsapp chat">
                <i style="color:#25D366;font-size:25px;padding:6px;height:30px;width:30px;margin-right:6px; margin-left:6px;" class="fa-brands fa-whatsapp-square"></i>  
              </a>  
            </div>
              <span style=" color:rgb(255, 255, 255);">01982600163</span>

            <div data-delay="0" data-hover="true" class="w-dropdown">
                <div class="nav-button-dropdown w-dropdown-toggle">
                    <div class="w-icon-dropdown-toggle"></div>
                    <div>About</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                    <a href="{% url 'homeapp:who_we_are_page' %}" class="drop-link black w-dropdown-link">Who we are</a>
                    <a href="{% url 'homeapp:who_we_are_for_page' %}" class="drop-link black w-dropdown-link">Who we&#x27;re for </a>
                </nav>
            </div>
            <div data-delay="0" data-hover="true" class="w-dropdown">
                <div class="nav-button-dropdown w-dropdown-toggle">
                    <div class="w-icon-dropdown-toggle"></div>
                    <div>Services</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="#consultancy" class="drop-link black w-dropdown-link">Consultancy</a>
                    <a href="/#design" class="drop-link black w-dropdown-link">Design + Engineering</a>
                    <a href="/#management" class="drop-link black w-dropdown-link">Project Management</a>
                    <a href="#/scope" class="drop-link black w-dropdown-link">Scope</a>
                </nav>
            </div>
            
            <!--<div data-delay="0" data-hover="true" class="w-dropdown">-->
            <!--    <div class="nav-button-dropdown w-dropdown-toggle">-->
            <!--        <div class="w-icon-dropdown-toggle"></div>-->
            <!--        <div>Products</div>-->
            <!--    </div>-->
            <!--    <nav class="dropdown-list w-dropdown-list">-->
            <!--        <a href="minimal-sliding-windows-doors.html" class="drop-link w-dropdown-link">Minimal Sliding Windows and Doors</a>-->
            <!--        <a href="minimal-pivot-windows-doors.html" class="drop-link w-dropdown-link">Minimal Pivot Windows and Doors</a>-->
            <!--        <a href="guillotine-automatic-multi-leaf-vertical-sliding-windows-doors.html" class="drop-link w-dropdown-link">Guillotine Windows and Doors</a>-->
            <!--    </nav>-->
            <!--</div>-->
            
            {% comment %} <a href="/#projects" class="new-nav-button w-nav-link">Projects</a> {% endcomment %}
          

            <div data-delay="0" data-hover="true" class="w-dropdown">
                <div class="nav-button-dropdown w-dropdown-toggle">
                    <div class="w-icon-dropdown-toggle"></div>
                    <div>Projects</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                    {% for cat in categories %}
                    
                    <a href="{{cat.get_absolute_url}}" class="drop-link black w-dropdown-link">{{cat.name}}</a>
                    {% endfor %}
                </nav>
            </div>


            <a href="{% url 'homeapp:product_page' %}" class="new-nav-button w-nav-link">Product</a>
            <a href="/#contact" class="new-nav-button w-nav-link">Contact</a>
        </nav>
        <div class="menu-button w-nav-button">
            <div class="icon wide home w-icon-nav-menu"></div>
        </div>
    </div>
</div>
<div data-animation="default" class="navbar-3 w-nav" data-easing2="ease" data-easing="ease" data-collapse="small"
 >
    <div class="container-2 w-container">
        <a href="{% url 'homeapp:homepage' %}" aria-current="page" class="brand-2 w-nav-brand w--current">
            <img src="{% static 'images/logo.jpeg' %}" style="height: 80px; width: 300px;"  alt="Building Envelope Systems logo" class="image-2"/></a>
        <nav role="navigation" class="nav-menu w-nav-menu">
            <div data-delay="0" data-hover="false" class="w-dropdown">
                <div class="nav-button-dropdown mobile w-dropdown-toggle">
                    <div class="w-icon-dropdown-toggle"></div>
                    <div>About</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="/#about1" class="drop-link w-dropdown-link">Who we are</a><a href="#about2" class="drop-link w-dropdown-link">Who we&#x27;re for </a></nav>
            </div>
            <div data-delay="0" data-hover="false" class="w-dropdown">
                <div class="nav-button-dropdown mobile w-dropdown-toggle">
                    <div class="w-icon-dropdown-toggle"></div>
                    <div>Services</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="#consultancy" class="drop-link w-dropdown-link">Consultancy</a><a href="#design" class="drop-link w-dropdown-link">Design + Engineering</a><a href="#management" class="drop-link w-dropdown-link">Project Management</a><a href="#scope" class="drop-link w-dropdown-link">Scope</a></nav>
            </div>
            <div data-delay="0" data-hover="false" class="dropdown-2 w-dropdown">
                <div class="nav-button-dropdown mobile w-dropdown-toggle">
                    <div class="w-icon-dropdown-toggle"></div>
                    <div>Products</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="minimal-sliding-windows-doors.html" class="drop-link w-dropdown-link">Minimal Sliding Windows and Doors</a><a href="minimal-pivot-windows-doors.html" class="drop-link w-dropdown-link">Minimal Pivot Windows and Doors</a><a href="guillotine-automatic-multi-leaf-vertical-sliding-windows-doors.html" class="drop-link w-dropdown-link">Guillotine Windows and Doors</a></nav>
            </div>
            <a href="#projects" class="new-nav-button w-nav-link">Projects</a><a href="#news" class="new-nav-button w-nav-link">News</a>
            <a href="#contact" class="new-nav-button w-nav-link">Contact</a>

            <a class="new-nav-button w-nav-link">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a class="new-nav-button w-nav-link">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a class="new-nav-button w-nav-link">
                <i style="color:#3b5998;" class="fa-brands fa-whatsapp-square"></i>
                     <span style=" color:rgb(255, 255, 255);">01982600163</span>
              </a>
             
{% comment %}             
            
            
            <a style="background-color:#fff;" class="new-nav-button w-nav-link">
                    <img style="color:#fff;" src="{% static 'images/whatsapp.png' %}">
                    <span style="color:black;">01982600163</span>
                </a> {% endcomment %}
        </nav>
        <div class="menu-button w-nav-button">
            <div class="icon w-icon-nav-menu"></div>
        </div>
    </div>
</div>



{% endblock %}