{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="scope-header wf-section" style="background-color:#11a5ff !important;">
    <div class="container-10 w-container">
        <div class="scope-header-div">
            <h1 class="heading-2 scope">{{object.title}}</h1>
        </div>
    </div>
</div>
<!-- 
<div class="scope-header wf-section"> -->
    <div class="container-10 w-container">

 <img src="{{object.thumnail_image.url}}" alt="img" style="padding-top:15px !important; height:450px;">
  
</div>
     
<!-- 
    </div> -->


<div id="projects" class="section _200 wf-section" style="padding-top:15px !important;">
    <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
                <div class="w-container">

            
                   
                   <p class="paragraph-70 project">{{object.details|safe}}</p>
                    
                    <div class="columns-3 w-row">
                        <div class="column-5 w-col w-col-6">
                            <div class="project-list-div">
                                <div class="detail-div">
                                    <p class="detail-bold project"><strong class="bold-intro-text projects">Developer</strong></p>
                                    <p class="bullet-text projects">{{object.developer}}</p>
                                </div>
                            
                                <div class="detail-div">
                                    <p class="detail-bold project"><strong class="bold-intro-text projects">Main Contractors</strong></p>
                                    <p class="bullet-text projects">{{object.contractors}}</p>
                                </div>
                             
                                <div class="detail-div">
                                    <p class="detail-bold project"><strong class="bold-intro-text projects">Location</strong></p>
                                    <p class="bullet-text projects">{{object.location}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="column-6 w-col w-col-6">
                            <div class="services-list-div">
                                <div class="detail-div">
                                    <p class="detail-bold project"><strong class="bold-intro-text projects">Services</strong></p>
                                </div>
                            </div>

                            <ul role="list" class="services-list w-condition-invisible">

                                <li class="bes-list">
                                    <div class="services-bullet _1">
                                        <p class="bullet-text w-dyn-bind-empty">
                                            {{object.services|safe}}
                                        </p>
                                    </div>
                                </li>  

                            </ul>


                        </div>
                    </div>


                    <div data-w-id="bce33b4f-3f1d-5ca9-a085-2ca327c5dc5e" style="opacity:1" class="project-columns w-row">
                       {% for p in object.projectimages_set.all %}
					   <div class="column-7 w-col w-col-6">
                            <div style="background-image:url({{p.images.url}})" class="div-block-10"></div>
                        </div>
						{% endfor %}
						
                    </div>
					
                    {% comment %} <div data-w-id="385b4403-681b-06dd-e3dc-b0b9d0e50739" style="opacity:0" class="project-columns portrait w-row">
                        <div class="column-9 w-col w-col-4">
                            <div style="background-image:url({{object.thumnail_image.url}})-23b.jpg&quot;)" class="div-block-11"></div>
                        </div>
                        <div class="column-10 w-col w-col-4">
                            <div style="background-image:url(_https_/uploads-ssl.webflow.com/5ccaa276b7202a16f52b1381/5cd155922a542ffe0ba30677_92001-RPT-C144200-DG-000029(1.html)-20.jpg&quot;)" class="div-block-11"></div>
                        </div>
                        <div class="column-11 w-col w-col-4">
                            <div style="background-image:url(_https_/uploads-ssl.webflow.com/5ccaa276b7202a16f52b1381/5cd159692a542f96a9a30d9e_92001-RPT-C144200-DG-000029(1)-22b.jpg&quot;)" class="div-block-11"></div>
                        </div>
                    </div>
					
                    <div class="image-copyright w-condition-invisible w-dyn-bind-empty"></div>  {% endcomment %}


                </div>
            </div>
        </div>
    </div>



  
    <div class="container-9 w-container">
        <h3 data-w-id="e2eb9168-b021-aba7-ba86-bdbaf881c7d8" style="opacity:1" class="subhead">More projects:</h3>
        <div data-w-id="2d0e94ff-8826-bcdd-2e25-b84de2c3d495" style="opacity:1" class="w-dyn-list">
            <div role="list" class="collection-list-5 w-dyn-items">

                {% for project in all %}
                <div role="listitem" class="collection-item-5 w-dyn-item">
                    <a href="{% url 'projectapp:project_detailspage'  project.pk %}" aria-current="page" class="project-link-block w-inline-block w--current">
                        <main style="background-image:url({{project.thumnail_image.url}})" class="project-menu-thumb"></main>
                        <div class="icon-text-div">
                            <h4 class="project-link-name">{{project.title}}</h4> 
                        </div>
                    </a>
                </div>
                {% endfor %}




            </div>
        </div>
    </div>



</div>



{% endblock %}

